*{
    box-sizing: border-box;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #383838;
    color: white;
    text-align: center;
}

.titulos{
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px 0px;
}

form{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 15px;
    margin-top: 10px;   
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px 0px;
}

.Gabinete,
.Procesador,
.DiscoDuro,
.MemoriaRAM,
.Monitor,
.Accesorios{
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    padding: 15px;
    margin: 10px;
    width: auto;
    border-radius: 10px;
}

.Accesorios{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

h3{
    font-size: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.Accesorios h3{
    grid-column: 1 / -1;
}

select,
option{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #21202b;
    color: white;
    cursor: pointer;
    transition: background-color 0.1s;
}

label{
    margin: 2px 0;
    padding: 10px;
    background: #21202b;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.1s;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label:hover{
    background-color: #333;
}

select:hover{
    background-color: #333;
}

.total{
    background: linear-gradient(to left, #333, #21202b);
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    width: calc(100% - 20px);
    margin: 10px;
}

button{
    width: calc(100% - 20px);
    margin: 10px;
    padding: 20px;
    background: linear-gradient(45deg, #333, #21202b);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

button:hover{
    background: radial-gradient(circle, #21202b, #333);
}

footer{
    max-width:1100px; 
    margin:10px auto; 
    padding:10px 14px; 
    font-size:14px;
    color:#ffffff;
    font-weight: bold;
}