*{
    box-sizing: border-box;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #383838;
    color: white;
    text-align: center;
}

h1{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 2px;
    text-shadow: 2px 2px 4px #000000;
}

h2{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px #000000;
}

form{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 15px;
    margin-top: 10px;   
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px 0px;
}

.Gabinete,
.Procesador,
.DiscoDuro,
.MemoriaRAM,
.Monitor,
.Accesorios{
    background:linear-gradient (to right, #858383, #204aa3);
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    padding: 15px;
    margin: 10px;
    width: auto;
    border-radius: 10px;
}

.Accesorios{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

h3{
    font-size: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.Accesorios h3{
    grid-column: 1 / -1;
}

select,
option{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #aaa;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #21202b;
    color: white;
    cursor: pointer;
    transition: background-color 0.1s;
}

label{
    margin: 2px 0;
    padding: 10px;
    background: #21202b;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.1s;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label:hover{
    background-color: #333;
}

select:hover{
    background-color: #333;
}

